<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
</head>
<body>

<!-- Facebook Login JS -->
<!-- <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{331942953878436}',
      cookie     : true,
      xfbml      : true,
      version    : '{latest-api-version}'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script> -->

  <div class="container">
  <div class="row">
    <div class="col"></div>
      <div class="col">
        <h1>Login</h1>        
        <%= form_tag "/login" do |f| %>
        Email
        <br>
        <%= text_field_tag :email %> 
        <br>
        Password
        <br>
        <%= password_field_tag :password %>
        <br>
        <%= submit_tag "Submit" %>
        <% end %>
      </div>
    <div class="col"></div>
  </div>
</div>


</body>
</html>