<br>
<main class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <%= form_tag listings_search_path, id: "search-form", method: :post, remote: true do %>
          <%= text_field_tag :location, params[:location], placeholder: 'Location' %>    
          <%= submit_tag "Search", name: nil, class:"btn btn-primary" %>
        <% end %>
      </div>
      <div class="col"></div>
    </div>
  </div>
  <div class="container mt-5" id ="search_list" >
    <%= render partial: '/listings/display', object: @listings %>
  </div>
</main>