<div class="container">
  <% @listings.each do |listing| %>  
    <div class="card">
      <div class="card-body">
        <h5><%= link_to listing.title ,listing_path(listing) %></h5>
        <%= listing.country %>
        <%= listing.location %>
      </div>
    </div>
  <% end %>
</div>