<div class="container">
  <div class="row">
    <div class="col"></div>
      <div class="col">
        <h1>Signup</h1>        
        <%#= form_for :user, url: '/users' do |f| %>
        <%#= f.label :first_name %>  
        <!-- <br>
        <%#= f.text_field :first_name %>
        <br>
        <%#= f.label :last_name %> 
        <br>
        <%#= f.text_field :last_name %>
        <br>
        <%#= f.label :email %> 
        <br>
        <%#= f.text_field :email %>
        <br>
        <%#= f.label :password %>  
        <br>  
        <%#= f.password_field :password %>
        <br>
        <br>   -->
         <%= f.label :role, 'I own a hair busines', :value => 'owner' %>
         <%= f.radio_button :role, 'owner' %> 
        <br>
        <br>
        <%= f.submit "Save!",  class: 'btn btn-primary' %>
        <% end %>
      </div>
    <div class="col"></div>
  </div>
</div>

