<div id= "bgheader" class="jumbotron jumbotron-fluid mb-0 mr-0 pt-5" style="height: 150vh;">
  <div class="container wrapper-sm">
    <div class="row">
      <div class="col-lg-8 mt-5" style= "text-align: center">
        <strong> <h1 style="margin-top:5%; text-shadow:-1px -1px 0 #575c66, 1px -1px 0 #575c66,-1px 1px 0 #575c66, 1px 1px 0 #575c66; font-family: 'Arvo', serif; font-size: 4em; color: white;">Mo<span style="color: black">RiRi</span></h1> </strong>
      
      <p style="font-family: 'Arvo',serif;font-size: 1.5em;color: black; margin-top: 3%; margin-left: 3%; text-shadow:-1px -1px 0 #575c66, 1px -1px 0 #575c66,-1px 1px 0 #575c66, 1px 1px 0 #575c66; ">Get your hair done all around the world! </p>

        <%= form_tag salons_search_path, id: "search-form", method: :post do %>
         <%= text_field_tag :location, params[:location], placeholder: ' City', class:"search_field" %> 
         <%= submit_tag "Find Salon", name: nil, class:"btn" %>
        <% end %>

      <%#= link_to "Find Salon", salons_path, class:"btn mt-2" %>

      <%# if can? :create, @salon %>
      <%#= link_to "List Salon", new_salon_path, class:"btn mt-2" %>
      <%# end %>

      </div>
      <div class="col-lg-4 mt-4 ml-0 pl-0">
        <%= image_tag("logo.png", height: '15%', class: 'logo') %>
      </div>
    </div>
  </div>
</div>
