.navbar{
  height: 100%;
  max-height: 60px;
  background: #050505;
  width: auto;
}

#navbarSupportedContent.collapse.navbar-collapse{
  height: 100%;
  max-height: 60px;
  width: 100%;
}

.img-nav {
  height: 100%;
  max-height:3.5em;
  width: 100%;
  max-width: 3.5em;
  border: 0.1em solid white;
  border-radius: 50%;
  background: image-url('pattern2.jpeg');
}

#avatar {
  margin-right: 3em;
}

#logo {
  margin-left: 2em;
}

.bname{
  text-align: center;
}

.navbar-toggler-icon{
  height: auto;
  width: auto;
}

.dropdown-toggle::after {
    display: none;
}

div.dropdown-menu{
  
}

.dropdown-item {
}

#navbarDropdown,nav-link.dropdown-toggle{
  list-style: none;
}

#navbarDropdown,nav-link.dropdown-toggle::before{
  color: black;
}


ul, menu, dir {
    list-style-type: none;
    display: inline-block
    }

.navcap {
  display: none;
  margin-left: 10px;
  color: white;
  clear: both;
}

a:hover+.navcap {
  display: block;
}


#flash_success.alert.alert-success {
  position:relative;
  margin-bottom: 0px;
  margin-top: 12px;
  padding: 0em 0em 0em 5em;
  font-weight: bold;
}

#flash_success.alert.alert-danger {
  position:relative;
  margin-bottom: 0px;
  margin-top: 12px;
  padding: 0em 0em 0em 5em;
  font-weight: bold;
}
