//* SEARCH BAR *
.search {
  text-align:center;
}

.search_field {
  border-radius: 5px;
}


// * FORM *
.form_label {
  width: 25%;
  padding: 0px 0px 0px 0px;
  margin-left: 0px;
  text-align: right;
  font-weight: bold;
}

.form_input {
  width: 70%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.thead{
  width: 100%;
  padding-bottom: 0px;
}

#speciality {
  width: 25%;
  text-align: center;
  padding-bottom: 0px;
}

.speciality {
  width: 35%;
  text-align: left;
  margin-bottom: 0px;
}

.submit {
  text-align: center;
  padding-right: 200px;
  padding-left: 200px;
  padding-top: 0px;
}

input.btn {
  width: 100px;
  padding: 0px 0px 0px 0px;
  background-color: black;
  color: white;
  height: 30px;
}


// * DISPLAY CARD *
h1 {
  color: black;
}

.card {
  border-radius: 10px;
}

h3 {
  padding-right: 50px;
  padding-left: 150px;
}

.sal_head {
  background: image-url('pattern2.jpeg');
  text-align: center;
  border-radius: 5px;
}

.sal_card {
  text-align: center;
}


// * PAGINATION *
a.page-link {
  background-color: white;
  border: 0px;
  color: black;
  text-align: center;
  text: 5px;
  font-weight: bold;
}

a.page-link:hover {
  background-color: black;
  color: white;
}

li.page-item.active a.page-link {
  background: image-url('pattern2.jpeg');
  border: 0px;
  color: black;
  border-radius: 50%;
}


