.form_label {
  width: 25%;
  padding: 0px 0px 0px 0px;
  margin-left: 0px;
  text-align: right;
  font-weight: bold;
}

.form_input {
  width: 70%;
  padding-top: 0px;
  padding-bottom: 0px;
}

.thead{
  width: 100%;
}

#speciality {
  width: 25%;
  text-align: center;
  padding-bottom: 0px;
}


.speciality {
  width: 35%;
  text-align: left;
  padding-bottom: 0px;
}

.submit {
  text-align: center;
  padding-right: 200px;
  padding-left: 200px;
  padding-top: 0px;
}

input.btn {
  width: 100px;
  padding: 0px 0px 0px 0px;
  background-color: black;
  color: white;
}

h1 {
  color: black;
}

h3 {
  padding-right: 50px;
  padding-left: 150px;
}

.sal_head {

  background: image-url('pattern2.jpeg');
  text-align: center;
}

.sal_card {
  text-align: center;
}


.search {
  text-align:center;
}

//input#location {
  //width:200px;
  //margin-left: 105px;
//}

//input#suburb {
  //width:200px;
  //padding-left: 0px;
//}