#bgheader {
  background: image-url('pattern2.jpeg');
  height:100%;
  width:100%;
  padding: 0px 0px 0px 0px;
}

#placeholder {
  background-color: yellow;
}

a.btn {
  width: 100px;
  padding: 0px 0px 0px 0px;
  background-color: black;
  color: white;
  width: 100px;
}

//#bgheader {
//background: image-url('pattern2.jpeg') no-repeat center center fixed;
//  -webkit-background-size: cover;
//  -moz-background-size: cover;
//  -o-background-size: cover;
//  background-size: cover;
//}
